<div class="sidebar well img-head username">
    <img title="{{site.author}}" src="{{ site.baseurl }}/assets/images/{{site.aboutme_photo}}" alt="{{site.author}}"/>
    <br />
    <p id="author">{{ site.author }}</p>
    <p>{{ site.description }}</p>
</div>

<div class="sidebar">
    <h1>最近文章</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar">
{% include links-list.html %}
</div>
