body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.about{
    height: 128px;
    width: 128px;
    border-radius:50%;
    margin: 0 auto;
    display: block;
}

.img-head img{
  height: 128px;
  width: 128px;
  border-radius:50%;
  /*margin: 0 auto;
  display: block;*/
}

.username {
     text-align:center;
     color:#a085c6;
     font-size: 1.3em;
}

table {
    width: 70%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 15px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
    background: rgba(255,255,256,0.5); /*背景色*/
}

img {
    position:relative;
    width:80%;
    left:10%;
}

table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid #dedede; /*内部边框样式*/
  padding: 0 10px; /*内边距*/
}
table tr:hover {
    background: #efefef; 
}

table th {
    font-weight: bold; /*加粗*/
    text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
    /*background: rgba(158,188,226,0.2); 背景色*/
}
